* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

div {
    display: inline-block;
}

ul,
ol {
    display: inline-block;
    width: 500px;
    height: 400px;
    border: 4px solid black;
    padding: px;
}

li {
    padding: 12px;
}

p {
    width: 50%;
    margin-left: 460px;
}

.short-list {
    height: 260px;
}

.long-list {

}

.cro-ingr {
   width: 760px;
}


.croissaint-steps {
    height: 2200px;
    width: 1000px;

}

img {
    border: 6px solid black;
}