* {
    text-align: center;
    font-style: "Times Rew Roman", serif, Verdana;
    height: 0;
    width: 0;
    box-sizing: border-box;
}

/* 
.link {
    text-align: center;
    color: rgb(35, 200, 255);
}